@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #f2f1ee;
  --foreground: var(--color-theme-grey-5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-theme-1: var(--radio-canada);
  --font-theme-2: var(--font-darker-grotesque);
  --font-theme-3: var(--font-radio-canada-big);

  --color-theme-cta: #D9031B;
  --color-theme-black: #11110f;
  --color-theme-grey-1: #f7f6f3;
  --color-theme-grey-2: #f2f2f2;
  --color-theme-grey-3: #dedede;
  --color-theme-grey-4: #b1aeab;
  --color-theme-grey-5: #7a7a7a;
  --color-theme-grey-6: #4f4f4f;
  --color-theme-grey-7: #E0E0E0;
  --color-theme-grey-8: #333333;
  --color-theme-stone: #a49e86;
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Lato", Helvetica, sans-serif;
}

.page-wrap {
  max-width: 1000px;
  margin: auto;
  padding: 0.25rem 1rem;
}

@media (min-width: 420px) {
  .page-wrap {
    padding: 0.5rem 1rem;
  }
}

.spinner_QPB9 {
  transform-origin: center;
  animation: spinner_4N1C 2s linear infinite;
}
.spinner_QPB9 circle {
  stroke-linecap: round;
  animation: spinner_MX3P 1.5s ease-in-out infinite;
}
@keyframes spinner_4N1C {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner_MX3P {
  0% {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }
  47.5% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -16;
  }
  95%,
  100% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -59;
  }
}

.hero-bg {
  background-image: url('/hero.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* benefits section */
.benefits-card.bg-top {
  background-image: url('/bg-top.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.benefits-card.bg-middle {
  background-image: url('/bg-middle.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.benefits-card.bg-bottom {
  background-image: url('/bg-bottom.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.benefits-card.lg-bg-tl {
  background-image: url('/lg-bg-tl.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.benefits-card.lg-bg-tr {
  background-image: url('/lg-bg-tr.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.benefits-card.lg-bg-bottom {
  background-image: url('/lg-bg-bottom.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .HoverCardContent {
  width: 100vw;
	max-height: var(--radix-hover-card-content-available-height);
} */

.progress-bar.root {
	position: relative;
	overflow: hidden;

	/* Fix overflow clipping in Safari */
	/* https://gist.github.com/domske/b66047671c780a238b51c51ffde8d3a0 */
	transform: translateZ(0);
}

.progress-bar.indicator {
	background-color: var(--color-black);
	transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
}
